{% load i18n static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="{% static 'trainingApp/css/bootstrap.min.css' %}" rel="stylesheet" type = "text/css"/>
	<link href="{% static 'trainingApp/js/bootstrap.min.js' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<title>
		{% block title %}
		{% endblock title %}
	</title>
	<style media="screen">
	#document-floating {
		min-height:500px;
		_height:500px;
		font-size:200%;
	}
	</style>


</head>
<body>
	<div class="container-fluid">
		{% block content %}

		{% endblock content%}
		<button type="button" name="home">
			<a href="{% url 'trainingApp:home' %}" >Home</a></button>

	</div>
</body>
</html>
