{% load i18n static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="{% static 'trainingApp/css/bootstrap.min.css' %}" rel="stylesheet" type = "text/css"/>
	<link href="{% static 'trainingApp/js/bootstrap.min.js' %}">
	<link rel="stylesheet" href="{% static 'traningApp/css/styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<title>
		{% block title %}
		{% endblock title %}
	</title>
	<style media="screen">
	#document-floating {
		min-height:500px;
		_height:500px;
		font-size:200%;
	}
	.sidebar-nav {
	    margin-top: 20px;
	    padding: 0;
	    list-style: none;
	}
	</style>


</head>
<body>
	<div class="container-fluid">
	    <div class="row">
	      <div class="col-sm-2">
	      {% block sidebar %}
		  <hr>
		  <ul class="sidebar-nav">
			  <strong>
	          <li><a href="{% url 'trainingApp:home' %}">Home</a></li><br>
	          <li><a href="{% url 'trainingApp:clients' %}">All Clients</a></li><br>
	          <li><a href="{% url 'trainingApp:allSchedules' %}">All WorkOut Schedules</a></li><br>
			  </strong>
			  {% if user.is_authenticated %}
			     <li>User: {{ user.get_username }}</li>
			     <li><a href="{% url 'logout'%}">Logout</a></li>
				 <!-- <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> -->
			   {% else %}
			   	<li><a href="{% url 'login'%}">Login</a></li>
			     <!-- <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li> -->
			   {% endif %}
      	  </ul>
	     {% endblock %}
	      </div>
	      <div class="col-sm-10 ">
			  <hr>
	      {% block content %}

		  {% endblock %}
	      </div>
	    </div>
	 </div>
</body>
</html>
