{% extends 'trainingApp/base.html' %}
{% load static %}
{% block content %}
    {% if list_of_clients %}
        <ul>
        {% for client in list_of_clients %}
        <h3>
		<li>
    	 	{{ client.first_name }}  {{ client.last_name }}  {{ client.email }}
			{{ client.date_joined }}  {{ client.initial_weight }}
			<a href="{% url 'trainingApp:clientDetails' client.id %}"><u>See updates</u></a>
        </li>
        </h3>
        {% endfor %}
        </ul>
    {% else %}
        <p>No clients in the list.</p>
    {% endif %}
{% endblock %}
