{% extends 'trainingApp/base.html' %}
{% load static %}

{% block content %}
<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
	<table class="table">
		<p>Here are the weight records for</p>
		<h2><strong>{{ client.first_name }}  {{ client.last_name}}</strong></h2>
		<thead>
			<tr>
				<th>Date</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
		{% for detail in client.weightin_set.all %}
			<!-- <input type="radio" name="detail" id="detail{{ forloop.counter }}" value="{{ detail.id }}" /> -->
			<!-- <tr for="detail{{ forloop.counter }}"> -->
			<tr>
				<td>{{ detail.date_weighted }}</td>
				<td>{{ detail.weight }}</td>
			</tr><br/>
		</tbody>

		{% endfor %}
	</table>
{% endblock %}


<!--
<form action="{% url 'trainingApp:stars' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Stars" />
</form>
 -->
