{% extends 'trainingApp/base.html' %}
{% load static %}
{% block title %}
    Home page
{% endblock title %}
{% block content %}

    <h1>Welcome to the personal trainer app</h1>
     <div id="document-floating">
        <div id="document-navigation" style="overflow-y: auto; max-height: 15em; overflow-x: hidden;">
              <h4>Not Logged In</h4>
              <ul>
                <li><a href="login_form">Login</a></li>
                <li><a href="register_form">Register</a></li>
                <li><a href="forgotten_password_form">Lost Login?</a></li>
             </ul>
            <div id="statusdiv">
            </div>
        </div>
          <p>There are currently:</p>
          <ul>
            <li><strong>Clients:</strong> {{ num_of_clients }}</li>
            <li><strong>Work Out Schedules:</strong> {{ num_of_workouts }}</li>
          </ul>
    </div>

    <!-- There is a button in the base.html that is used to return to this page
    and this jQuery removes it from the home page. -->
	<script>
	$(document).ready(function(){
	    $("home-link").hide();
	});
	</script>

{% endblock %}
